.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  // padding: 0 20px;
  visibility: hidden;
  background-color: rgba(0,0,0,.7);
  z-index: 100;
  opacity: 0;
  transition: .3s;
  .modal-inner {
    width: 100%;
    background-color: $background-color-modal;
    padding: space-size(xl);
    border-radius: $border-radius-modal;
    transform: translateY(100%);
    transition: .3s;
    .Text, .Title, .Icon {
      color:$text-color-modal;
      &.outline {
        color: transparent;
        -webkit-text-stroke-color:$text-color-modal;
      }
    }
    .Divider {
      background-color: color(black);
    }
  }
  &.show {
    visibility: visible;
    opacity: 1;
    .modal-inner {
      transform: translateY(0%);
    }
  }



  @include media-breakpoint-min(md) {
    align-items: center;
    .modal-inner {
      max-width: $width-modal;
    };
  };
  @include media-breakpoint-max(md) {
    .modal-inner {
      max-width: 100%!important;
    };
  };

  @each $name, $value in $container-sizes {
    &.#{$name} {
      .modal-inner {
        max-width: $value;
      }
    }
  }
}
