.Pagination {
  margin-top: space-size(lg);
  .Button, span {
    color: white;
    background: transparent;
    border: 0;
    padding: 0.5em;
    font-size: font-size(md);
    margin: 0 .5em;
    font-family: $font-family-text;
    &.active {
      background-color: color(primary);
      color: color(black);
    }
  }
}
