.pr {
  position: relative;
}
.fl {
  float: left;
}
.pa-l {
  position: absolute!important;
  left: 0!important;
}
.pa-r {
  position: absolute!important;
  right: 0!important;
}
.pa-t {
  position: absolute!important;
  top: 0!important;
}
