// @each $size, $width in $widths {
//   .max-w-#{$size} {
//     max-width: $width!important;
//   }
//   .min-w-#{$size} {
//     min-width: $width!important;
//   }
// }

.w-full {
  width: 100%!important;
}
.h-full {
  height: 100vh!important;
}

@each $name, $value in $container-sizes {
  .max-w-#{$name} {
    max-width: $value!important;
  }
  .min-w-#{$name} {
    min-width: $value!important;
  }
}
