.Breadcrumb {
  margin-bottom: space-size(md);
  .Button, .Text {
    @include reset();
    margin-right: space-size(md)*1.5;
    font-size: font-size(md);
    position: relative;
    font-family: $font-family;
    color: $font-color-breadcrumb;

    &:after {
      font-family: $font-family-breadcrumb-divider;
      content: $content-breadcrumb-divider;
      position: absolute;
      right: -(space-size(md));
    }
  }
  &>*:last-child:after {
    content: initial;
  }
}
