@import "../variables.scss";


.Breadcrumb {
  .Button, .Text {
    @include reset();
    margin-right: space-size(md)*2;
    font-size: font-size(md);
    position: relative;

    &:after {
      content: ">";
      position: absolute;
      right: -(space-size(md)+(font-size(md)/2));
    }
  }
  &>*:last-child:after {
    content: initial;
  }
}
