.Button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: $font-family-button;
  color: color(black);
  font-size: button-size(md);
  padding: space-size(md) space-size(md)*3;
  background: color(default);
  border: $border-size-button solid color(default);
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: $border-radius-button;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  margin-bottom: space-size(md);
  line-height: 1em;
  display: inline-block;

  @each $name, $value in $button-sizes {
    &.#{$name} {
      font-size: $value;
      padding: space-size(#{$name}) space-size(#{$name})*3;
    }
  }
  &.block {
    padding-left: 0;
    padding-right: 0;
  }
  &.rounded {
    line-height: 0;
  }
  &.unset {
    @include reset();
  }
  &.link {
    @include reset();
      font-family: $font-family-text;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
    text-decoration: underline;
    cursor: pointer;
    &.active {
      color: color(primary);
    }
  }

  &.invert {
    background-color: color(white);
    border-color: color(white);
    color: color(black);
    &.outline {
      color: color(white);
    }
  }
  @each $name, $value in $colors {
    &.#{$name} {
      background-color: $value;
      border-color: $value;
      &.outline {
        color: $value;
      }

      &.loading {
        background-color: rgba($value, .4);
        border-color: rgba($value, .4);
      }
    }
  }
  @each $name, $value in $colors {
    &.color-#{$name} {
      color: $value;
    }
  }
  &.outline {
    color: color(default);
    background-color: color(transparent);

    &.loading {
      background-color: color(transparent);
    }
  }
  &.loading {
    opacity: 1;
    background-color: rgba(color(default), .4);
    border-color: rgba(color(default), 0);
  }
  .Spinner {
    font-size: 2em;
  }
}
