.Card {
  padding-bottom: space-size(md);
  margin-bottom: space-size(md);
  border-bottom: 1px solid color(dark-gray);

  @each $name, $value in $colors {
    &.#{$name} {
      border-radius: rounded-size(md);
      padding: space-size(md);
      background-color: $value;
      border-color: $value;
    }
  }
}
