.Image {
  img {
    max-width: 100%;
  }
  &.center {
    text-align: center;
  }
  &.rounded {
    border-radius: 100%;
  }
  &.square, &.rounded {
    overflow: hidden;
    display: block;
    object-fit: cover;
    @include aspect-ratio(1,1);
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      @include position-abslute();
    }
  }
  @each $value in $image-ratios {
    &.ratio-#{nth($value, 1)}-#{nth($value, 2)} {
      overflow: hidden;
      display: block;
      object-fit: cover;
      @include aspect-ratio(nth($value, 1),nth($value, 2));
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        @include position-abslute();
      }
    }
  }
  @each $name, $value in $image-sizes {
    &.#{$name} {
      overflow: hidden;
      display: block;
      object-fit: cover;
      @include aspect-ratio(1,1);
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        @include position-abslute();
      }
      width: $value!important;
      height: $value!important;
    }
  }
  @each $name, $value in $image-sizes {
    &.w-#{$name} {
      width: $value!important;
    }
  }
  @each $name, $value in $image-sizes {
    &.h-#{$name} {
      height: $value!important;
    }
  }
  @each $name, $value in $image-radius-sizes {
    &.radius-#{$name} {
      border-radius: $value!important;
    }
  }
}
