@import "../variables.scss";


[class*="Input-"] {
  margin-bottom: 16px;
  &.error {
    label, .error {
      color: color(red);
    }
    input, select {
      border-color: color(red);
    }
  }
  input, select {
    all:unset;
    font-size: size(lg);
    color: color(white);
    border: 0;
    border-bottom: 1px solid color(gray-70);
    width: 100%;
    background-color: transparent;
    font-weight: 700;
    box-shadow: none;
    padding: space(md) 0;
    -webkit-appearance: none;
    border-radius: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
  }
  label, .help {
    font-style: normal;
    font-weight: bold;
    display: block;

    color: color(gray-70);
  }
}

.Input-select {
  select {
  }
  option {
    all:unset;
    background: color(black);
    &:active, &:focus, &:checked {
      background: color(black);
    }
  }
}
.Input-image {
  position: relative;
  padding: 0;
  input {
    opacity: 0;
    @include position-abslute();
  }
}
.Input-file {
  position: relative;
  padding: 0;

  input {
    opacity: 0;
    @include position-abslute();
  }
  // .Image {
  //   border: 6px solid white;
  // }
  // .Text {
  //   font-style: normal;
  //   font-weight: bold;
  //   font-size: 12px;
  //   line-height: 15px;
  //   text-align: center;
  //   color: #FFFFFF;
  // }
}
.Input-switch {
  position: relative;

  &>input:checked + span {
    background-color: color(primary);

    &:after {
      margin-left: 20px;
    }
  }
  &>input {
    all:unset;
    width: 44px;
    height: 26px;
    display: block;

    position: absolute;
    bottom: 0;
    left: 0;
  }
  &>span {
    width: 44px;
    height: 26px;
    border-radius: 20px;
    background-color: color(gray);
    transition: .4s;
    display: flex;

    &:after {
      content: " ";
      background-color: color(black);
      width: 22px;
      height: 22px;
      display: block;
      border-radius: 100%;
      margin: 2px;
      box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.1);
      transition: .4s;
    }
  }
}
