@import "../variables.scss";


.Status {
  &:before {
    content: '';
    width: 9px;
    height: 9px;
    background: color(muted);
    display: inline-block;
    border-radius: 100%;
    margin-right: space-size(xs);
  }

  &.success:before {
    background: color(success);
  }
  &.error:before {
    background: color(error);
  }
  &.alert:before {
    background: color(alert);
  }
}
