@import "../variables.scss";

.Tabs {
  border-bottom: color(gray) 1px solid;
  margin-bottom: space-size(md);
  .Button {
    background: transparent;
    border: 0;
    padding: 20px 0;
    margin-right: 20px;

    &.active {
      color: color(primary);
    }
  }
}
