@import "../variables.scss";


.Title {
  font-family: $font-family-title;
  margin: 0;
  padding: 0;
  margin-bottom: space-size(md);
  font-size: title-size(md);
  font-weight: bold;
  line-height: 1.1em;
  display: flex;

  @each $name, $value in $title-sizes {
    &.#{$name} {
      font-size: $value!important;
    }
  }
  @each $name, $value in $colors {
    &.#{$name} {
      color: $value;
    }
  }
  &.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.center {
    text-align: center;
    justify-content: center;
  }
  &.left {
    text-align: left;
  }
  &.right {
    text-align: right;
  }
  &.uppercase {
    text-transform: uppercase;
  }

  &.outline {
    -webkit-text-stroke: .045em $text-color;
    color: transparent;
    text-transform: uppercase;
    @each $name, $value in $colors {
      &.#{$name} {
        -webkit-text-stroke-color: $value;
      }
    }
  }
}
