@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@import "variables.scss";
@import "utilities.scss";

@import "components/alert";
@import "components/bg";
@import "components/button";
@import "components/card";
@import "components/counter";
@import "components/divider";
@import "components/icon";
@import "components/image";
@import "components/input";
@import "components/progress";
@import "components/status";
@import "components/text";
@import "components/tabs";

@import "layout/cell";
@import "layout/container";
@import "layout/grid";
@import "layout/modal";
@import "layout/page";
@import "layout/table";
// @import "layout/template";
@import "layout/wrap";

@import "modules/menu";
@import "modules/navbar";
@import "modules/pagination";
@import "modules/titlebar";
@import "modules/titlebar";

@import "theme-dark.scss";

html, body {
  min-height: 100vh;
  display: grid;
  font-size: 12px;
  overflow-x: hidden;
}
.app {
  color: color(black);
  background-color: color(white);
  font-family: $font;
}
