@import "mixins/breakpoints.scss";
@import "mixins/aspect-ratio.scss";

@mixin position-abslute() {
  position: absolute;
  top: 0;right: 0;bottom: 0;left: 0;
}
@mixin position($p,$t,$r,$b,$l) {
  position: $p;
  top: $t; right: $r; bottom: $b; left: $l;
}
@mixin no-select() {
  // -webkit-touch-callout: none; /* iOS Safari */
  //   -webkit-user-select: none; /* Safari */
  //    -khtml-user-select: none; /* Konqueror HTML */
  //      -moz-user-select: none; /* Firefox */
  //       -ms-user-select: none; /* Internet Explorer/Edge */
  //           user-select: none; /* Non-prefixed version, currently
  //                                 supported by Chrome and Opera */
}
@mixin reset-control() {
  &:active, &:focus, &:hover, &.focus { // .focus for selectize plugin
    box-shadow: none;
    outline: none;
  }
}

@mixin disabled {
  opacity: .4;
  filter: grayscale(100%);
}

@mixin reset {
  -webkit-appearance: none;
  font-style: normal;
  background: initial;
  border: 0;
  padding: 0;
  text-transform: initial;
  display: initial;
  box-shadow: none;
  outline: none;
}
