@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

@import "variables.scss";
@import "utilities.scss";

@import "components/bg";
@import "components/button";
@import "components/card";
@import "components/counter";
@import "components/divider";
@import "components/icon";
@import "components/image";
@import "components/input";
@import "components/progress";
@import "components/status";
@import "components/text";
@import "components/title";
@import "components/tabs";
@import "components/breadcrumb";

@import "layout/cell";
@import "layout/container";
@import "layout/grid";
@import "layout/page";
@import "layout/table";
// @import "layout/template";
@import "layout/wrap";

@import "modules/modal";
@import "modules/alert";
@import "modules/menubar";
@import "modules/navbar";
@import "modules/pagination";
@import "modules/titlebar";
@import "modules/titlebar";

// @import "theme-dark.scss";

html, body {
  // min-height: 100vh;
  // display: grid;
  font-size: 12px;
  // line-height: 1em;
  // overflow-x: hidden;W
}
html, body, main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
.app {
  color: $text-color;
  background-color: $background-color;
  font-family: $font-family;
  letter-spacing: 0.1em;
  overflow: hidden;
}
*, ::after, ::before {
    box-sizing: border-box;
}
