@import "../variables.scss";


.Grid [class*="Cell-"]{
  float: left;
  padding: 0 $grid-gutter;
  box-sizing: border-box;
}
.Grid.no-gutter {
  & > [class*="Cell-"]{
    padding: 0;
  }
}

@for $i from 1 through $grid-columns{
  .Cell-#{$i}{
    width: 100% / $grid-columns * $i
  }
}
