@import "../variables.scss";


@for $i from 1 through $grid-columns{
  .Cell-#{$i}{
    width: (100% / $grid-columns * $i)
  }
}

.Grid [class*="Cell-"]{
  float: left;
  padding: 0 $grid-gutter;
  box-sizing: border-box;
  flex-shrink: 0;
}
.Grid.no-gutter {
  & > [class*="Cell-"]{
    padding: 0;
  }
}

.Grid.break-md {
  [class*="Cell-"] {
    @include media-breakpoint-max(md) {
      width: 100%;
    };
  }
}
