@import "../variables.scss";

$container-padding: 20px;
.Container {
  max-width: container-size(xl);
  width: 100%;
  padding-left: $container-padding;
  padding-right: $container-padding;

  &.center {
    margin-left: auto;
    margin-right: auto;
  }

  @each $name, $value in $container-sizes {
    @include media-breakpoint-min($name) {
      max-width: $value;
    };
  };
  @each $name, $value in $container-sizes {
    &.max-w-#{$name} {
      max-width: $value!important;
    }
    &.min-w-#{$name} {
      min-width: $value!important;
    }
  }
}
