.Page {
  &.footer {
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
  }
  &.full {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .page-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .page-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &.loading .page-loading {
    color: color(white);
    @include position(fixed,0,0,0,0);
    z-index: 1000;
    background-color: color(black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: font-size(lg);
    flex-direction: column;
  }
}
