@import "../variables.scss";


.Table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid #252525;
  }
  th, td {
    padding: 0.7rem 0;
  }
  thead {
    th {
      cursor: default;
      border-bottom: 1px solid color(white);
      padding: 1.3rem 0 0.7rem;
      .Icon {
        display: inline-block;
        font-size: 7px;
        transition: .4s;
      }
      &.active {
        color: color(primary);
      }
      &.sort-title {
        cursor: pointer;
      }
      &.sort-up {
        .Icon {
          transform: rotate(180deg);
        }
      }
    }
  }
  tbody {
    th, td {
      border-bottom: 1px solid color(gray);
    }
  }
}
